<div class="row graphsContent">
    <nav class="nav flex-column col-md-2 sideNav">
        <a class="nav-link sideNavLink" ui-sref="graphs.balanced" style="background:rgb(64, 108, 83);color:white;border:1px solid gray;">Balanced</a>
        <a class="nav-link sideNavLink" ui-sref="graphs.stable" style="background:rgb(64, 108, 83);color:white;border:1px solid gray;">Stable</a>
        <a class="nav-link sideNavLink" ui-sref="graphs.moderate" style="background:rgb(64, 108, 83);color:white;border:1px solid gray;">Moderate</a>
        <a class="nav-link sideNavLink" ui-sref="graphs.aggressive" style="background:rgb(64, 108, 83);color:white;border:1px solid gray;">Aggressive</a>
    </nav>
    <div ui-view class="col-md-9 graphView"></div>
</div>
