<div class="overlay">
    <div class="row description">
        <h1>{{info.title}}</h1>
    </div>
    <div class="row">
        <img src={{info.image}} alt="dist">
    </div>
    <div class="row">
      <div class="zngChart" zingchart id="chart-1" zc-width="100%" zc-height="100%" zc-json="data"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5 options">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        </div>
        <div class="col-md-5 options">
            <p>sLorem ipsum dolor sit amet, consectetur adipiscing</p>
        </div>
    </div>
</div>
