<div id="homeContent" class="row">
    <div class="col-md-6 d-flex justify-content-center">
        <!-- <button class="btn btn-primary">Know how your investing strategy compares</button> -->
        <div class="card" style="width: 50%;">
            <img class="card-img-top" src="/assets/photos/chipmunk.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Know how your investing strategy compares</h4>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <a ui-sref="dashboard" class="btn btn-primary">Dashboard</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
        <!-- <button class="btn btn-primary">See how your fund can save money
        with our regulatory software
        </button> -->
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="/assets/photos/regtech.png" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">See how your fund can save money
                with our regulatory software</h4>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <a ui-sref="regTech" class="btn btn-primary">Checkout REGTech</a>
            </div>
        </div>
    </div>
</div>
