<nav id="navigation" class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a id="iconHome" class="navbar-brand" ui-sref="home">
        <img src="/assets/photos/logo.jpg" width="120" height="120" class="d-inline-block align-bottom" alt=""> 
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav nav nav-tabs">
            <li class="nav-item active ">
                <a class="nav-link" ui-sref="about">About</span></a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" ui-sref="graphs.profile">My Profile</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" ui-sref="home">Why</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" ui-sref="home">Testimonials</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" ui-sref="home">Videos</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" ui-sref="home">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
